<footer class="footer"><div class="wrapper">
<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-2">

    <div class="cell">
      <h3>Contato</h3>
      <hr>
      <a>Endereço: Rua XXX, Bairro YYYY, nº 123</a><br>
      <a>Telefone: (XXX) XXXXX-XXXX</a><br>
      <a>E-Mail: companhia@servidor.com</a>
    </div>

    <div class="cell">
      <h3>Mapa do Site</h3>
      <hr>
      <a routerLink="/home">Home</a><br>
      <a routerLink="/lista-cursos">Estude Conosco</a>
    </div>

  </div>
</div>
</div></footer>
