.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 4em;
  background-color: rgba(0, 64, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;

  .top-bar-left {
    height: 100%;
    .site-title {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
    }

    a {
      color: inherit;
    }
  }

  .top-bar-right {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      height: 100%;
      flex: 1;
      background-color: inherit;

      li { height: 100%; }
    }

    a {
      height: 100%;
      color: inherit;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
    }
    a:hover {
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
